<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>uic</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:/application-context.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ssoFilter</filter-name>
		<filter-class>org.light4j.sso.client.SSOFilter</filter-class>
		<init-param>
			<param-name>SERVER_HOST</param-name>
			<param-value>uic.light4j.org</param-value>
		</init-param>
		<init-param>
			<param-name>LOGIN_BACK_URL</param-name>
			<param-value>http://uic.light4j.org</param-value>
		</init-param>
		<init-param>
			<param-name>LOGOUT_URI</param-name>
			<param-value>/logout</param-value>
		</init-param>
		<init-param>
			<param-name>EXCLUSIONS</param-name>
			<param-value>
				/sso/login,/sso/logout,/account/init,/account/register,*/images*,*/css/*,*/favicon.ico,*/api/*
			</param-value>
		</init-param>
		<init-param>
			<param-name>APP_KEY</param-name>
			<param-value>16ae450f970448619c3ce7193982089e</param-value>
		</init-param>
		<init-param>
			<param-name>APP_SECRET</param-name>
			<param-value>IO9JQqPII7HLEa60ZhyU5Q==</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ssoFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>org.light4j.sso.server.uic.utils.DemoFilter</filter-class>
		<init-param>
			<param-name>EXCLUSIONS</param-name>
			<param-value>
				/logout,/sso/login,/sso/logout,/account/init,/account/register,*/images*,*/css/*,*/favicon.ico,*/api/*
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>springServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/views/error/500.vm</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/error/500.vm</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error/404.vm</location>
	</error-page>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>HTTPSOnly</web-resource-name>
			<url-pattern>/sso/login</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
</web-app>