#set($ctx = ${rc.contextPath})

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="data-spm" content="5176"/>
    <title>批量生成账号</title>
    <script type="text/javascript">
        function vMiddle() {
            var middleDiv = document.getElementById("wrap");
            var divHeight = middleDiv.offsetHeight;
            var divWidth = middleDiv.offsetWidth;
            var bodyHeight = document.body.offsetHeight;
            var bodyWidth = document.body.offsetWidth;
            var left = (bodyWidth - divWidth) / 2
            var top = (bodyHeight - divHeight) / 2
            middleDiv.style.top = top + "px";
            middleDiv.style.left = left + "px";
        }

        function setWarning(content) {
            if (window.navigator.userAgent.toLowerCase().indexOf("firefox") != -1) {
                document.getElementById("warning").textContent = content;
            }
            else {
                document.getElementById("warning").innerText = content;
            }
        }

        function checkForm() {
            var count = login.count.value.replace(/(^\s*)|(\s*$)/g,'');
            if (count == "") {
                setWarning("必须输入用户个数");
                return false;
            }
            var namePrefix = login.namePrefix.value.replace(/(^\s*)|(\s*$)/g,'');
            if (namePrefix == "") {
                setWarning("必须输入用户名前缀");
                return false;
            }
            var password = login.password.value.replace(/(^\s*)|(\s*$)/g,'');
            if (password == "") {
                setWarning("必须输入密码");
                return false;
            }
            return true;
        }
    </script>
    <style type="text/css">
        html, body {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        #wrap {
            width: 300px;
            padding: 20px 50px 20px 50px;
            margin: 0;
            position: absolute;
        }
    </style>
</head>
<body onload="vMiddle();">
<form name="batch" onsubmit="return checkForm();" action="/account/batch" method="POST">

    <div id="wrap" class="table-bordered">

        <div class="form-group" style="margin-bottom:25px;font-size: 21px;">
            <span style="width:250px">
             批量生成账号
            </span>

        </div>

        <div class="form-group" style="margin-bottom:0px;">
            <label style="width:200px">
                用户名前缀：
            </label>
        </div>
        <div class="form-group">
            <div style="width:200px">
                <input class="form-control" name="namePrefix">
            </div>
        </div>

        <div class="form-group" style="margin-bottom:0px;">
            <label style="width:200px">
                开始用户ID：
            </label>
        </div>
        <div class="form-group">
            <div style="width:200px">
                <input class="form-control" name="idStart">
            </div>
        </div>

        <div class="form-group" style="margin-bottom:0px;">
            <label style="width:200px">
                用户个数：
            </label>
        </div>
        <div class="form-group">
            <div style="width:200px">
                <input class="form-control" name="count">
            </div>
        </div>

        <div class="form-group" style="margin-bottom:0px;">
            <label style="width:200px">
                开始序号：
            </label>
        </div>
        <div class="form-group">
            <div style="width:200px">
                <input class="form-control" name="start" value = "$!{start}">
            </div>
        </div>

        <div class="form-group" style="margin-bottom:0px;">
            <label style="width:200px">
                密码：
            </label>
        </div>

        <div class="form-group">
            <div style="width:200px">
                <input class="form-control" type="password" name="password">
            </div>
        </div>

        <div class="form-group" style="margin-bottom:0px;">
            <label style="width:200px">
                出生地：
            </label>
        </div>
        <div class="form-group">
            <div style="width:200px">
                <input class="form-control" name="birthplace">
            </div>
        </div>

        <div class="form-group" style="margin-bottom:0px;">
            <label style="width:200px">
                所在地：
            </label>
        </div>
        <div class="form-group">
            <div style="width:200px">
                <input class="form-control" name="location">
            </div>
        </div>

        <div class="form-group" style="margin-bottom:0px;">
            <label style="width:200px">
                用户等级：
            </label>
        </div>
        <div class="form-group">
            <div style="width:200px">
                <input class="form-control" name="level">
            </div>
        </div>

        <div class="form-group" style="margin-bottom:0px;">
            <label style="width:200px">
                放款额度：
            </label>
        </div>
        <div class="form-group">
            <div style="width:200px">
                <input class="form-control" name="loanPoint">
            </div>
        </div>

        <div class="form-group" style="margin-bottom:0px;">
            <label style="width:200px">
                借款额度：
            </label>
        </div>
        <div class="form-group">
            <div style="width:200px">
                <input class="form-control" name="lendPoint">
            </div>
        </div>

        <div class="form-group" style="margin-bottom:0px;">
            <label style="width:200px">
                附加信息：
            </label>
        </div>
        <div class="form-group">
            <div style="width:200px">
                <input class="form-control" name="misc">
            </div>
        </div>

        <div class="form-group">
            <label id="warning" style="width:200px;color:red">
                ${message}
            </label>

            <div style="width:100px">
                <button type="submit" class="btn btn-primary" style="width:100%">提交</button>
            </div>

        </div>
    </div>
</form>
</body>
</html>
